<div class="container">

  <h2 class="text-center text-danger">修改商品</h2>

  <form (ngSubmit) = "updataProduct()" #productForm= "ngForm">
    <div class="formGroup">
      <label for="title">商品名称：</label>
      <input type="text"  placeholder="商品名称" name="title" class="form-control" id="title"
      [(ngModel)] = "product.title" required
      >
      <!-- <div class="text-danger" 
       *ngIf="myForm.controls.title.invalid && myForm.controls.title.dirty">
        商品名称不能为空
      </div> -->
    </div>
    <div class="formGroup">
      <label for="detail">商品详情：</label>
      <input type="text" placeholder="商品详情" name="detail" class="form-control" id="detail"
      [(ngModel)] = "product.detail" required
      >
    </div>
    <div class="formGroup">
      <label for="price">商品价格：</label>
      <input type="text" placeholder="商品价格" name="price" class="form-control" id="price"
      [(ngModel)] = "product.price" required
      >
    </div>
    <button type="submit" class="btn btn-primary"  [disabled]= "!productForm.valid">修改商品</button>
    <a [routerLink]= "['/admin/product-list']" class="btn btn-danger float-right">返回</a>
  </form>

</div>