<form nz-form [formGroup]="validateForm" (ngSubmit)="register()">
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="userName">userName</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <input nz-input formControlName="userName" id="userName">
      <nz-form-explain *ngIf="validateForm.controls.userName.dirty && validateForm.controls.userName.errors">
        <ng-container *ngIf="validateForm.get('userName').hasError('required')">
        必须填写账号
      </ng-container>
      <ng-container *ngIf="validateForm.get('userName').hasError('confirm')">
       账号已经存在
      </ng-container></nz-form-explain>
      
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="email">E-mail</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <input nz-input formControlName="email" id="email">
      <nz-form-explain *ngIf="validateForm.controls.email.dirty && validateForm.controls.email.errors">邮箱不能为空</nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="password" nzRequired>Password</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <input nz-input type="password" id="password" formControlName="password" >
      <!-- (ngModelChange)="updateConfirmValidator()" -->
      <nz-form-explain *ngIf="validateForm.controls.password.dirty && validateForm.controls.password.errors">密码不能为空</nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="checkPassword" nzRequired>Confirm Password</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <input nz-input type="password" formControlName="checkPassword" id="checkPassword">
      <nz-form-explain *ngIf="validateForm.get('checkPassword').dirty && validateForm.get('checkPassword').errors">
        <ng-container *ngIf="validateForm.get('checkPassword').hasError('required')">
          必须写入确认密码
        </ng-container>
        <ng-container *ngIf="validateForm.get('checkPassword').hasError('confirm')">
          两次密码不一样
        </ng-container>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  
  <nz-form-item nz-row style="margin-bottom:8px;">
    <nz-form-control [nzSpan]="14" [nzOffset]="6">
    </nz-form-control>
  </nz-form-item>
  <nz-form-item nz-row style="margin-bottom:8px;">
    <nz-form-control [nzSpan]="14" [nzOffset]="6" style="line-height: 90px;">
      <button class="btn btn-primary vertical-center">Register</button>
    </nz-form-control>
  </nz-form-item>
</form>